.wrapper {
    max-width: 800px;

    &:last-child {
        .matchWrapper {
            margin-bottom: 0;
        }
    }
}
.matchWrapper {
    border-radius: 5px;
    overflow: hidden;
}
.match {
    color: #666;
    width: 100%;

    [data-bs-theme='dark'] & {
        color: var(--rival-block-color);
    }
    td {
        padding: 0.4rem 0;

        &:first-child {
            padding-left: 0.4rem;
        }
        &:last-child {
            padding-right: 0.4rem;
        }
    }
    tr:nth-child(1) {
        background-color: var(--rival-block-bg-color-2);
    }
    tr:nth-child(2) {
        background-color: var(--rival-block-bg-color-1);
    }
    .player {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }
    .win {
        color: #181c32;
        font-weight: bold;

        [data-bs-theme='dark'] & {
            color: var(--rival-light-2);
            font-weight: 600;
        }
    }
    .score {
        padding: 0 3px;
        text-align: center;
    }
    .up {
        position: relative;
        font-size: 0.7rem;
        top: -0.4rem;
        margin-left: 0.1rem;
        font-weight: normal;
    }
    .points {
        max-width: 2rem;
        width: 2rem;
        background-color: #333;

        [data-bs-theme='dark'] & {
            color: var(--rival-dark-1);
            background-color: var(--rival-light-3);
        }
    }
    .default,
    .injury {
        height: 1.75rem;
        display: flex;
        align-items: center;
    }
}
