.pagination {
    :global .page-item {
        cursor: pointer;
    }
    :global .page-item.disabled {
        cursor: default;
    }
    :global .page-link {
        transition: none !important;
    }
}
