.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;

    [data-bs-theme='dark'] & {
        background-color: rgba(0, 0, 0, 0.95);
    }
    .wrapper {
        background-color: var(--rival-light-1);
        padding: 1rem;
        border-radius: 1rem;

        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-1);
        }
        .progress {
            width: 250px;
            height: 0.5rem;
            background: var(--rival-light-2);
            border-radius: 0.5rem;
            position: relative;
            overflow: hidden;
            font-weight: 500;

            [data-bs-theme='dark'] & {
                background-color: var(--rival-dark-3);
            }
            .bar {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background-color: var(--bs-primary);
                transition: width 0.6s ease;
            }
        }
    }
}
