.wrapper {
    height: calc(100vh - 11.5rem);
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
        height: calc(100vh - 9rem);
    }
    .list {
        flex-grow: 1;
        margin-right: -1.5rem;
    }
}
.toBottomButton {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rival-light-1);
    font-size: 1.5rem;
    transition: transform opacity 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    opacity: 1;

    &.hidden {
        opacity: 0;
    }
    &:hover {
        transform: scale(1.05);
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--rival-light-4);
    }
}
