.wrapper {
    position: relative;

    .suggestions {
        position: absolute;
        top: calc(100% + 0.1rem);
        left: 0;
        max-height: 12rem;
        width: 100%;
        overflow: auto;
        margin-right: -0.5rem;
        border-radius: 0.5rem;
        z-index: 2000;
        background-color: var(--rival-light-1);
        padding: 0.5rem;
        box-shadow: 0 0 50px #0003;

        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-3);
        }
        .suggestion {
            padding: 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;

            &.selected {
                background-color: #ccecfd;

                [data-bs-theme='dark'] & {
                    background-color: var(--rival-dark-4);
                }
            }
        }
    }
}
