.open {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    background-color: #fff;
    font-size: 0.925rem;
    color: #999;

    [data-bs-theme='dark'] & {
        background-color: var(--rival-dark-2);
        border-color: var(--rival-dark-4);
        color: var(--rival-block-color);
    }
}
.name {
    line-height: 1.3;
}
.badge {
    position: relative;
    font-size: 0.7rem;
    top: -0.4rem;
    margin-left: 0.2rem;
    font-weight: normal;
}
.separator {
    font-weight: normal;
}
.elo {
    position: relative;
    top: -0.075rem;
    margin-left: 0.3rem;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    padding: 0.4em 0.5em !important;
    font-size: 0.75rem;
    background-color: hsl(225, 31%, 90%);
    color: hsl(225, 31%, 30%);
    line-height: 1;

    &.noRank {
        margin-left: 0.5rem;
    }
    [data-bs-theme='dark'] & {
        background-color: hsl(214, 17%, 26%);
        color: hsl(214, 17%, 75%);
    }
}
