.table {
    td {
        vertical-align: top;
    }
}
.topPair {
    td {
        padding-top: 1.5rem !important;
    }
}
.pair {
    td {
        padding-top: 3rem !important;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 1rem;
            width: 100%;
            height: 1px;
            background-color: #ccc;
        }
    }
}
