.team {
    display: flex;
    align-items: center;
    font-weight: 500;
    height: 2.4rem;

    .separator {
        margin: 0 0.3rem;
    }
}
.description {
    margin: -0.4rem 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #a1a5b7;
}
.picker {
    position: relative;

    select {
        padding: calc(0.2rem + 1px) calc(0.4rem + 1px) !important;
        font-size: 0.925rem;

        &.placeholder {
            visibility: hidden;
        }
        &.select {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
}
.close {
    cursor: pointer;
}
