$marginBetweenMatches: 2rem;
$matchHeight: 5.282rem;

.wrapper {
    background-color: #fff;
    padding: 1em;
}
.bracketWrapper {
    display: flex;

    > * {
        flex: 1 0 0px;
        white-space: nowrap;
    }
    .divider {
        flex: 0 0 22px;
        position: relative;

        .bracket {
            position: absolute;
            width: 6px;
            border: 2px solid #ccc;
            border-left-width: 0;
            left: 6px;
            border-radius: 0 3px 3px 0;

            .tick {
                position: absolute;
                top: 50%;
                left: 6px;
                width: 4px;
                height: 2px;
                background-color: #ccc;
            }
        }
    }
    .header {
        text-align: center;
        background-color: var(--rival-block-bg-color-2);
        border-radius: 0.5rem;
        padding: 0.5rem 0;
    }
    .margin7 {
        margin-top: math.div($matchHeight, 2) + $marginBetweenMatches * 1.5;
    }
    .margin6 {
        margin-top: $matchHeight + $marginBetweenMatches * 2;
    }
    .margin5 {
        margin-top: $matchHeight + $marginBetweenMatches * 2;
    }
    .margin4 {
        margin-top: $matchHeight + $marginBetweenMatches * 2;
    }
    .margin3 {
        margin-top: $matchHeight * 1.5 + $marginBetweenMatches * 2.5;
    }
    .margin2 {
        margin-top: $matchHeight * 3 + $marginBetweenMatches * 4;
    }
    .margin1 {
        margin-top: $matchHeight * 3.5 + $marginBetweenMatches * 4.5;
    }
    &.three {
        .margin3 {
            margin-top: math.div($matchHeight, 2) + $marginBetweenMatches * 1.5;
        }
        .margin2 {
            margin-top: $matchHeight + $marginBetweenMatches * 2;
        }
        .margin1 {
            margin-top: $matchHeight * 1.5 + $marginBetweenMatches * 2.5;
        }
    }
    &.two {
        .margin1 {
            margin-top: $matchHeight;
        }
    }
}
.matches {
    > *:not(:last-child) {
        margin-bottom: $marginBetweenMatches;
    }
}
.spot {
    border-radius: 5px;
    overflow: hidden;

    .match {
        color: #666;

        td {
            padding: 0.4rem 0;

            &:first-child {
                padding-left: 0.4rem;
            }
            &:last-child {
                padding-right: 0.4rem;
            }
        }
        tr:nth-child(1) {
            background-color: var(--rival-block-bg-color-2);
        }
        tr:nth-child(2) {
            background-color: var(--rival-block-bg-color-1);
        }
        .player {
            width: 100%;
            line-height: 1.2;
            padding-left: 0.5rem;
            padding-right: 1rem;
            position: relative;

            &.win {
                color: #181c32;
                font-weight: bold;
            }
            .flag {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}
.avatar.bye {
    visibility: hidden;
}
