$width: 1.6em;
$height: math.div(38, 33) * $width;
$scale2: 0.88;
$scale3: 0.76;
$scale4: 0.64;
$scale5: 0.52;

.avatarWrapper {
    display: flex;
    position: relative;
    isolation: isolate;

    > *:not(:first-child) {
        margin-left: -$width * 0.3;
    }
    &.multiple {
        overflow: hidden;
    }
    &.teamAvatar {
        > *:not(:last-child) {
            filter: drop-shadow(max(0.06em, 1px) max(0.06em, 1px) max(0.06em, 1px) hsl(0, 50%, 0%, 0.6));
        }
        > *:nth-child(2) {
            margin-left: -$width * 0.75;
            margin-right: math.div(-$width * (1 - $scale2), 2);
            transform: scale($scale2);
            transform-origin: bottom center;
        }
        > *:nth-child(3) {
            margin-left: -$width * 0.75;
            margin-right: math.div(-$width * (1 - $scale3), 2);
            transform: scale($scale3);
            transform-origin: bottom center;
        }
        > *:nth-child(4) {
            margin-left: -$width * 0.75;
            margin-right: math.div(-$width * (1 - $scale4), 2);
            transform: scale($scale4);
            transform-origin: bottom center;
        }
        > *:nth-child(5) {
            margin-left: -$width * 0.75;
            margin-right: math.div(-$width * (1 - $scale5), 2);
            transform: scale($scale5);
            transform-origin: bottom center;
        }
    }
    img,
    svg {
        width: $width;
        height: $height;
    }
}
