.step {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .highlight {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(201, 100%, 97%);

        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-3);
        }
    }
    .title {
        font-weight: bold;

        a {
            font-weight: normal;
        }
    }
}
