version: 2.1
setup: true
orbs:
    path-filtering: circleci/path-filtering@3.0.0
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                  base-revision: main
                  mapping: |
                      apps/ladder/.* foo bar .circleci/ladder-config.yml
