version: 2.1
setup: true
orbs:
    continuation: circleci/continuation@2.0.1

jobs:
    generate-config:
        docker:
            - image: cimg/node:24.0.1
        steps:
            - checkout
            - run: node .circleci/generate-config.js
            - continuation/continue:
                  configuration_path: generated_config.yml

workflows:
    setup:
        jobs:
            - generate-config:
                  filters:
                      branches:
                          ignore: /.*/
                      tags:
                          only: /.*/
