version: 2.1
setup: true
orbs:
    continuation: circleci/continuation@1

jobs:
    generate-config:
        executor: continuation/default
        docker:
            - image: cimg/node:24.0.1
        steps:
            - checkout
            - run: node .circleci/generate-config.mjs
            - continuation/continue:
                  configuration_path: ladder_config.yml

workflows:
    setup:
        jobs:
            - generate-config:
                  filters:
                      tags:
                          only: /.*/
