version: 2.1

setup: true

orbs:
    continuation: circleci/continuation@2.0.1

jobs:
    generate-config:
        executor: continuation/default
        steps:
            - checkout
            # - run: node .circleci/generate-config.mjs
            - continuation/continue:
                  configuration_path: .circleci/test-config.yml

workflows:
    setup-workflow:
        jobs:
            - generate-config:
                  filters:
                      branches:
                          ignore: /.*/
                      tags:
                          only: /.*/
