aliases:
    - &image
      docker:
          - image: cimg/node:20.19.4-browsers
          - image: cimg/mysql:5.7.38
            environment:
                MYSQL_ROOT_PASSWORD: password
          - image: cimg/redis:6.2.7
      working_directory: ~/repo
      executor: node/default

    - &node
      docker:
          - image: cimg/node:20.19.4
      working_directory: ~/repo

    - &install |
        pnpm install

    - &db |
        sudo apt-get update && sudo apt-get install mysql-client redis-server
        mysql -h $TL_DB_HOSTNAME -u $TL_DB_USERNAME -p$TL_DB_PASSWORD -e "CREATE DATABASE $TL_DB_NAME"

version: 2.1

orbs:
    node: circleci/node@5.0.2
    browser-tools: circleci/browser-tools@1.5.0

jobs:
    build:
        <<: *node
        steps:
            - checkout
            - run: sudo apt-get update && sudo apt-get install -y rsync # install rsync
            - run: *install
            - run: cd apps/ladder/frontend && NODE_ENV=production pnpm run build
            - run: cd apps/ladder/backend && pnpm run build

            # create backend deploy folder
            - run: pnpm --legacy --filter=@rival/ladder.backend --prod deploy ~/server
            - run: cp -R apps/ladder/backend/dist ~/server/dist
            - run: cp -R apps/ladder/backend/build ~/server/build

            - persist_to_workspace:
                  root: ~/
                  paths:
                      - server
                      - repo/apps/ladder/backend/build
                      - repo/apps/ladder/backend/dist
    test:
        <<: *image
        steps:
            - checkout
            - run: *install
            - run: *db

            # restore dist from shared workspace
            - attach_workspace:
                  at: ~/

            - run: pnpm run check

    playwright:
        <<: *image
        parallelism: 8
        steps:
            - checkout
            - run: *install
            - run: *db
            - run: cd apps/ladder/frontend && pnpm exec playwright install chromium

            # restore dist from shared workspace
            - attach_workspace:
                  at: ~/

            # Run server
            - run:
                  name: Run server
                  command: cd ~/server && pnpm run start:prod
                  background: true
            - run: sleep 5

            - run:
                  command: |
                      circleci tests glob "apps/ladder/frontend/playwright/**/*.page.ts" | circleci tests split --split-by=filesize > /tmp/tests-to-run
            # Run browser tests
            - run: cd apps/ladder/frontend && pnpm run playwright -- $(cat /tmp/tests-to-run)

    deploy-dev:
        <<: *node
        steps:
            - checkout

            # restore build from shared workspace
            - attach_workspace:
                  at: ~/

            - setup_remote_docker

            # save last commit hash to a file
            - run: git rev-parse HEAD > gitcommit

            - run: docker build -f apps/ladder/backend/Dockerfile -t ivirsen/rival:dev .
            - run: docker login -u ivirsen -p ${DOCKER_PASSWORD}
            - run: docker push ivirsen/rival:dev

            - run: ssh-keyscan 159.65.32.182 >> ~/.ssh/known_hosts
            - run: ssh ivirsen@159.65.32.182 < apps/ladder/backend/deploy-dev.sh

workflows:
    build-test-deploy:
        jobs:
            - build:
                  filters:
                      tags:
                          only: /.*/
            # - test:
            #       requires:
            #           - build
            #       filters:
            #           tags:
            #               only: /.*/
            # - playwright:
            #       requires:
            #           - build
            #       filters:
            #           tags:
            #               only: /.*/
            - deploy-dev:
                  requires:
                      - build
                  filters:
                      tags:
                          only: /.*/
