$scale: 5;

.avatar {
    width: 40px * $scale;
    height: 44px * $scale;
    padding: 6px * $scale 3.45px * $scale 0;
    background-color: hsl(228, 38%, 95%);

    [data-bs-theme='dark'] & {
        background-color: var(--rival-dark-3);
    }
    img,
    svg {
        width: 100% !important;
        height: auto !important;
    }
}
.levels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 1.5rem;
}
.deletedUser {
    max-width: 40rem;
}
.wrapper {
    display: flex;
    gap: 1rem;
}
.settings {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem 1rem;

    > *:nth-child(odd) {
        width: 9rem;
        font-weight: 500;
        color: #999;

        [data-bs-theme='dark'] & {
            color: var(--rival-light-5);
        }
    }
    > *:nth-child(even) {
        white-space: pre-line;

        [data-bs-theme='dark'] & {
            color: var(--rival-light-2);
        }
    }
}
.actions {
    display: flex;
    gap: 1rem;
}
.achievements {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;

    .column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > * {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}
.graph {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s;
    background: #fff;
    position: relative;

    [data-bs-theme='dark'] & {
        background: var(--rival-dark-2);
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    .text {
        position: absolute;
        left: 0.6rem;
        top: 0.9rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.3;
        color: hsl(212, 80%, 30%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        [data-bs-theme='dark'] & {
            color: hsl(212, 80%, 70%);
        }
        > div {
            padding: 0.2rem 0.5rem;
            border-radius: 0.5rem;
            background-color: #fff;
            box-shadow: 0 0 5px #fff;
            margin-top: -0.3rem;

            [data-bs-theme='dark'] & {
                background-color: var(--rival-dark-2);
                box-shadow: 0 0 5px var(--rival-dark-2);
            }
        }

        @include media-breakpoint-down(xl) {
            left: 0.3rem;
            top: 0.6rem;
            font-size: 1rem;
        }
    }
    .timelinesScreenshot {
        width: 100%;
        aspect-ratio: 367 / 188;
        background-image: url('./timelines.png');
        background-size: 100% 100%;

        [data-bs-theme='dark'] & {
            background-image: url('./timelinesDark.png');
        }
    }
    svg {
        width: 100%;

        [data-bs-theme='dark'] & {
            line {
                stroke: var(--rival-light-5);
            }
        }
    }
}
.matchesLink {
    border-bottom: 2px dashed hsl(2, 64%, 47%, 0.6);
    margin-bottom: 0.35rem;
    cursor: pointer;
    transition: border 0.2s;

    &:hover {
        border-bottom: 2px dashed hsl(2, 64%, 47%, 1);
    }
}

@include media-breakpoint-down(sm) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;

        > div:first-child {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}
