.buttons {
    button {
        width: 3em;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.separator {
    width: 1px;
    background-color: var(--rival-light-2);

    [data-bs-theme='dark'] & {
        background-color: var(--rival-dark-4);
    }
}
.weeks {
    display: flex;
    align-items: flex-end;

    > *:not(:last-child) {
        margin-right: 0.5rem;
    }
    > *:last-child {
        align-self: flex-start;
    }
}
