.sun,
.partSun,
.partSunGlow,
.lightning,
.cloud,
.bigCloud,
.smallCloud,
.smallNightCloud,
.rain,
.snow,
.wind,
.drizzle,
.moon,
.smallMoon,
.wintryMix {
    display: none;
}

// TODO: need to cover these conditions as well
// All conditions: https://gist.github.com/mikesprague/048a93b832e2862050356ca233ef4dc1
//
// * Blizzard
// * BlowingDust
// * Foggy
// * FreezingDrizzle
// * Frigid
// * Hail
// * Hot
// * Hurricane
// * Sleet
// * Smoky
// * StrongStorms
// * SunFlurries
// * SunShowers
// * TropicalStorm

.day {
    &[data-weather='Clear'] {
        .sun {
            display: block;
        }
    }
    &[data-weather='MostlyClear'] {
        .sun,
        .smallCloud {
            display: block;
        }
    }
    &[data-weather='PartlyCloudy'] {
        .partSun,
        .partSunGlow,
        .bigCloud {
            display: block;
        }
    }
    &[data-weather='MostlyCloudy'],
    &[data-weather='IsolatedThunderstorms'] {
        .sun,
        .cloud {
            display: block;
        }
    }
}
.night {
    &[data-weather='Clear'] {
        .moon {
            display: block;
        }
    }
    &[data-weather='MostlyClear'] {
        .moon,
        .smallNightCloud {
            display: block;
        }
    }
    &[data-weather='PartlyCloudy'] {
        .smallMoon,
        .cloud {
            display: block;
        }
    }
    &[data-weather='MostlyCloudy'],
    &[data-weather='IsolatedThunderstorms'] {
        .cloud {
            display: block;
        }
    }
}
[data-weather='Rain'],
[data-weather='HeavyRain'],
[data-weather='FreezingRain'] {
    .cloud,
    .rain {
        display: block;
    }
}
[data-weather='Snow'],
[data-weather='HeavySnow'],
[data-weather='BlowingSnow'],
[data-weather='Flurries'] {
    .cloud,
    .snow {
        display: block;
    }
}
[data-weather='Cloudy'],
[data-weather='Haze'] {
    .cloud {
        display: block;
    }
}
[data-weather='Drizzle'] {
    .cloud,
    .drizzle {
        display: block;
    }
}
[data-weather='Thunderstorms'],
[data-weather='ScatteredThunderstorms'] {
    .cloud,
    .lightning,
    .rain {
        display: block;
    }
    .extraRain {
        display: none;
    }
}
[data-weather='Breezy'],
[data-weather='Windy'] {
    .wind {
        display: block;
    }
}
[data-weather='WintryMix'] {
    .cloud,
    .wintryMix {
        display: block;
    }
}
