.top {
    padding-left: 8rem;
    height: 600px;

    img {
        position: absolute;
        object-fit: cover;
        object-position: center top;
        background-color: #f0f3fa;
        width: 100%;
        height: 600px;
        left: 0;
        z-index: -1;
    }
    h1 {
        padding-top: 4rem;
        font-size: 4rem;
    }
}
.wrapper {
    margin: 4rem 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 2.7rem;

    picture img {
        width: 100%;
        aspect-ratio: 4 /3;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        object-fit: cover;
    }
}

@include media-breakpoint-down(md) {
    .top {
        padding-left: 1rem;
        height: 300px;

        img {
            height: 300px;
        }
    }
    .wrapper {
        margin: 3rem 0;
    }
    .grid {
        grid-template-columns: auto;
    }
}
