.wrapper {
    display: flex;
    justify-content: space-between;

    .content {
        flex-shrink: 0;

        .buttonArea {
            display: flex;
            flex-wrap: wrap;

            > * {
                margin-bottom: 0.5rem;
            }
            > *:not(:last-child) {
                margin-right: 0.5rem;
            }
            @include media-breakpoint-down(sm) {
                > * {
                    width: 100%;
                    margin-right: 0 !important;
                }
            }
        }
    }
    .cardExample {
        margin-left: 2rem;

        .card {
            border: 1px solid #ccc;
            border-radius: 1rem;
            overflow: hidden;
            max-width: 450px;

            [data-bs-theme='dark'] & {
                border-color: var(--rival-dark-3);
                background-color: var(--rival-dark-3);
            }
            .image {
                width: 100%;
                background-image: url('./rival-ball.jpg');
                background-size: cover;
                aspect-ratio: 1.91 / 1;
            }
            .url {
                color: #666;

                [data-bs-theme='dark'] & {
                    color: var(--rival-block-color);
                }
            }
            .title {
                font-weight: 500;
            }
            .description {
                color: #666;

                [data-bs-theme='dark'] & {
                    color: var(--rival-block-color);
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        display: block;

        .cardExample {
            margin-top: 2rem;
            margin-left: 0;
        }
    }
}

.facebook,
.twitter,
.email {
    color: #fff;

    svg path[fill] {
        fill: #ffffff;
    }
    &:hover {
        color: #fff;
    }
}
.facebook {
    background-color: #3b5998 !important;

    &:hover {
        background-color: darken(#3b5998, 5%) !important;
    }
}
.twitter {
    background-color: #000 !important;

    &:hover {
        background-color: lighten(#000, 10%) !important;
    }
}
.email {
    background-color: #666666 !important;

    &:hover {
        background-color: darken(#666666, 5%) !important;
    }
}
