$avatarSize: 100px;

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5rem;

    .title {
        line-height: 1;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;

        .date {
            margin-bottom: 0.7rem;
            line-height: 1;
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.5);
        }
        .score {
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 0.5rem 1rem;
            border-radius: 1rem;

            > *:not(:last-child) {
                margin-right: 1rem;
            }
        }
        .clock {
            margin-top: 0.5rem;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.5);

            svg {
                position: relative;
                width: 1.4rem;
                top: -0.1rem;
            }
        }
    }
    .challenger {
        flex: 1 0 0;
        display: flex;
        line-height: 1.3;
        align-items: center;

        svg {
            flex: 0 0 $avatarSize;
            width: $avatarSize;
            height: math.div($avatarSize, 244) * 280;
            margin-right: 0.8rem;
        }
    }
    .acceptor {
        flex: 1 0 0;
        display: flex;
        line-height: 1.3;
        justify-content: flex-end;
        text-align: right;
        align-items: center;

        svg {
            flex: 0 0 $avatarSize;
            width: $avatarSize;
            height: math.div($avatarSize, 244) * 280;
            margin-left: 0.8rem;
        }
    }
}
