.team {
    display: flex;
    gap: 0.5rem;

    > * {
        flex: 1 0 0px;
    }
    .partner {
        padding: 1rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &.error {
            border: 1px solid #f00 !important;
        }
    }
}
