.wrapper {
    display: flex;
    gap: 2rem;

    .tableBar {
        flex: 1 0 0;
    }
    .benefits {
        flex: 1 0 0;
    }
    .balance {
        margin-top: 0.1rem;
        padding-top: 0.1rem;
        border-top: 1px solid #999;
    }

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }
}
