$scale: 5;

.wrapper {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 2fr 5fr;
    align-items: start;

    @include media-breakpoint-down(lg) {
        grid-template-columns: auto;
    }

    .column {
        display: grid;
        gap: 1.5rem;

        .equalBlocks {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;

            @include media-breakpoint-down(lg) {
                flex-direction: column;
                align-items: stretch;
            }
            > * {
                flex: 1 0 0;
            }
        }
    }
}
.appearance {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    max-width: 25rem;

    .appearanceOption {
        display: grid;
        gap: 0.5rem;
        justify-items: center;
        cursor: pointer;
        flex-grow: 1;

        img {
            width: 100%;
            border-radius: 0.5rem;
            transition: all 0.2s;
            aspect-ratio: 500 / 365;
        }
        &.selected {
            img {
                box-shadow: 0px 0px 0px 5px var(--bs-primary);
            }
        }
    }
}
.avatar {
    width: 40px * $scale;
    height: 44px * $scale;
    padding: 0 3.45px * $scale;
    background-color: #f5f8fa;
    border-radius: 0.5rem * $scale;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    [data-bs-theme='dark'] & {
        background-color: var(--rival-dark-3);
    }
    img,
    svg {
        width: 100% !important;
        height: auto !important;
    }
}
.settings {
    display: inline-grid;
    grid-template-columns: 8rem auto;
    grid-gap: 0.5rem 1rem;
    width: 100%;

    > *:nth-child(odd) {
        font-weight: 500;
        color: #999;

        [data-bs-theme='dark'] & {
            color: var(--rival-light-5);
        }
    }
    > *:nth-child(even) {
        white-space: pre-line;
    }
    &.compact {
        grid-template-columns: 6rem auto;
    }
}
.steps {
    display: grid;
    grid-gap: 2rem;

    .image {
        width: 100%;
        border-radius: 1rem;
        aspect-ratio: 1;
        background-size: 100% 100%;
    }
}

@include media-breakpoint-down(sm) {
    .settings {
        grid-template-columns: 9rem auto;

        &.compact {
            grid-template-columns: 6rem auto;
        }
    }
}
