.wrapper {
    max-width: 30rem;

    &:last-child {
        .matchWrapper {
            margin-bottom: 0;
        }
    }
}
.header {
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .time {
        color: #888;
        font-weight: 500;

        [data-bs-theme='dark'] & {
            color: var(--rival-block-color);
        }
    }
}
.matchWrapper {
    border-radius: 5px;
    overflow: hidden;
}
.match {
    color: #666;
    width: 100%;

    [data-bs-theme='dark'] & {
        color: var(--rival-block-color);
    }
    td {
        padding: 0.4rem 0;

        &:first-child {
            padding-left: 0.4rem;
        }
        &:last-child {
            padding-right: 0.4rem;
        }
    }
    tr:nth-child(1) {
        background-color: var(--rival-block-bg-color-2);

        .player {
            color: #181c32;
            font-weight: bold;

            [data-bs-theme='dark'] & {
                color: var(--rival-light-2);
            }
        }
    }
    tr:nth-child(2) {
        background-color: var(--rival-block-bg-color-1);
    }
    .player {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }
    .win {
        color: #181c32;
        font-weight: bold;

        [data-bs-theme='dark'] & {
            color: var(--rival-light-2);
        }
    }
    .score {
        padding: 0 3px;
        text-align: center;
    }
    .up {
        position: relative;
        font-size: 0.7rem;
        top: -0.4rem;
        margin-left: 0.1rem;
        font-weight: normal;
    }
    .badge {
        position: relative;
        font-size: 0.7rem;
        top: -0.4rem;
        margin-left: 0.2rem;
        font-weight: normal;
    }
    .points {
        max-width: 2rem;
        width: 2rem;
        background-color: #333;
    }
}
.avatar {
    width: 1.5rem;
}
.default,
.injury {
    height: 1.75rem;
}
