.avatar {
    width: 3rem;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;

    > * {
        height: 8rem;
        line-height: 1.2;

        .long {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
