.weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    .temp {
        font-size: 1em;
        font-weight: 700;
        line-height: 1;
        margin-right: -0.2em;
        color: var(--rival-dark-3);

        [data-bs-theme='dark'] & {
            color: var(--rival-light-3);
        }
    }
    svg {
        margin-top: -0.1em;
        margin-bottom: -0.4em;
        width: 2.8em;
        height: 2.8em;

        &[data-weather='Rain'],
        &[data-weather='HeavyRain'],
        &[data-weather='Snow'],
        &[data-weather='HeavySnow'],
        &[data-weather='Thunderstorms'],
        &[data-weather='Flurries'] {
            margin-top: -0.4em;
            margin-bottom: -0.1em;
        }
        &[data-weather='Drizzle'] {
            margin-top: -0.2em;
            margin-bottom: -0.3em;
        }
    }
}
