.top {
    padding-left: 8rem;
    height: 600px;

    img {
        position: absolute;
        object-fit: cover;
        object-position: center 50%;
        background-color: #c4c9c3;
        width: 100%;
        height: 600px;
        left: 0;
        z-index: -1;
    }
    h1 {
        padding-top: 4rem;
        font-size: 4rem;
        text-shadow: 0 0 10px #fff;
    }
    h2 {
        margin-top: 1rem;
        font-size: 2rem;
        text-shadow: 0 0 10px #fff;
    }
}
.content {
    margin: 4rem 0;
}
.example {
    width: 100%;
    padding-top: 99.167%;
    background-image: url('./raleigh-example.png');
    background-size: cover;
    border-radius: 0.5rem;
}

@include media-breakpoint-down(md) {
    .top {
        padding-left: 1rem;
        height: 300px;

        img {
            height: 300px;
        }
    }
    .content {
        margin: 3rem 0;
    }
}
