.cta {
    cursor: pointer;
    padding: 0.3em 1em;
    background: linear-gradient(180deg, hsl(58, 86%, 64%) 0%, hsl(65, 60%, 53%) 100%);
    color: hsla(60, 100%, 10%, 1);
    transition: transform 0.2s;
    font-weight: 700;

    &:hover {
        transform: scale(1.05);
    }
}
