.wrapper {
    width: 102%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem 0;
    margin: 0 -1%;

    .badge {
        .date {
            font-size: 0.9rem;
            text-align: center;
            color: #888;
            font-weight: 500;
            margin-bottom: -0.5rem;
            text-align: center;

            [data-bs-theme='dark'] & {
                color: var(--rival-light-5);
            }
        }
        .title {
            font-weight: 500;
            line-height: 1.3;
            overflow-wrap: normal;
            text-align: center;
            width: 90%;
            margin: 0 auto;

            [data-bs-theme='dark'] & {
                color: var(--rival-light-2);
            }
        }
    }
    @include media-breakpoint-down(xl) {
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 22rem;

        .badge:nth-child(4),
        .badge:nth-child(5) {
            display: none;
        }
    }
}
.trigger {
    transition: 0.3s filter;

    &:hover {
        cursor: pointer;
        filter: brightness(0.97);
    }
}
