.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;

    [data-bs-theme='dark'] & {
        background-color: rgba(0, 0, 0, 0.6);
    }
    :global .spinner-border {
        display: none;
    }

    &.show {
        pointer-events: auto;
        opacity: 1;

        :global .spinner-border {
            display: block;
        }
    }
}
