$width: 1.8rem;
$height: $width * 1.53;

.block {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;

    .photo {
        min-width: 12rem;
        width: 12rem;
        height: 12rem;
        border-radius: 1rem;
        background-size: 100% auto;
    }
    .name {
        margin-bottom: 0.5rem;
    }
    .price {
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: #999;
    }
}
.description {
    white-space: pre-line;
}
.map {
    margin-top: 1.5rem;
    width: 100%;
    border-radius: 1rem;
    position: relative;

    .mark {
        position: absolute;
        width: $width;
        height: $height;
        margin-left: math.div(-$width, 2);
        margin-top: -$height;
        background-image: url('./location.svg');
        background-size: 100% 100%;
    }

    img {
        width: 100%;
        border-radius: 1rem;
    }
}
.description {
    margin-top: 1.5rem;
}
.buttonArea {
    margin-top: 2.5rem;
}
