.wrapper {
    background-color: hsl(228, 42%, 95%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(228, 32%, 50%);

    &.light {
        background-color: #fff;
    }
    &.even {
        flex-basis: 45%;
    }
    [data-bs-theme='dark'] & {
        background-color: var(--rival-dark-3);
        color: var(--rival-light-5);

        &.light {
            background-color: var(--rival-dark-2);
        }
    }
    .label {
        margin-top: 0.2rem;
        font-size: 1rem;
        font-weight: 500;
        color: hsl(228, 42%, 70%);
        text-align: center;
        line-height: 1.35;

        [data-bs-theme='dark'] & {
            color: var(--rival-block-color);
        }
    }
    .image {
        width: 100%;
    }

    @include media-breakpoint-down(xl) {
        padding: 0.8rem;

        .label {
            font-size: 0.85rem;
        }
    }
}
.text {
    font-size: 1.8rem;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    line-height: 1.3;
    text-align: center;
}
@include media-breakpoint-down(xl) {
    .text {
        font-size: 1.3rem;
    }
}
