.resultWrapper {
    min-width: 14rem;
}
.xsButton {
    padding: 0 0.5rem !important;
    height: 1.8rem;
}
.pickerWrapper {
    display: grid;
    grid-gap: 0.4rem;

    .num {
        padding: 0 !important;
        width: 2.4rem;
        height: 2.4rem;
    }
}
.bye {
    visibility: hidden;
}
.list {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 2rem;

    .number {
        padding-top: 0.3rem;
        color: #333;
    }
    .matchWrapper {
        border-radius: 5px;
        overflow: hidden;
        flex-grow: 1;

        .match {
            color: #666;
            width: 100%;
            min-width: 14rem;

            td {
                padding: 0.4rem 0;

                &:first-child {
                    padding-left: 0.4rem;
                    width: 0;
                }
                &:nth-child(2) {
                    width: 100%;
                }
                &:last-child {
                    padding-right: 0.4rem;
                }
            }
            tr:nth-child(1) {
                background-color: var(--rival-block-bg-color-1);
            }
            tr:nth-child(2) {
                background-color: var(--rival-block-bg-color-2);
            }
            .points {
                width: 1.8rem;
                padding-left: 0;
                padding-right: 0;
                background-color: #333;
                transition: all 0.2s;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}
.playerWrapper {
    display: flex;
    align-items: center;

    &:nth-child(even) {
        .player {
            background-color: var(--rival-block-bg-color-2);
        }
    }
    &:nth-child(odd) {
        .player {
            background-color: var(--rival-block-bg-color-1);
        }
    }
    .player {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0.4rem;
        color: #666;
        position: relative;
        border-radius: 5px;

        [data-bs-theme='dark'] & {
            color: var(--rival-block-color);
        }
        &.winner {
            font-weight: 700;
            color: #181c32;

            [data-bs-theme='dark'] & {
                color: var(--rival-light-2);
                font-weight: 600;
            }
        }
        > div:nth-child(2) {
            flex-grow: 1;
        }
        .flag {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.pointResult {
    width: 1.8rem;
    padding-left: 0;
    padding-right: 0;
    background-color: #333;

    [data-bs-theme='dark'] & {
        color: var(--rival-dark-1);
        background-color: var(--rival-light-3);
    }
}
.header {
    margin-bottom: 0.4rem;
    display: flex;
    align-items: flex-end;

    .time {
        color: #666;
        font-weight: 500;

        [data-bs-theme='dark'] & {
            color: var(--rival-block-color);
        }
    }
    .icons {
        flex-grow: 1;
        text-align: right;
    }
}
