$zIndex: 11;
$sidebarWidth: 25rem;

:global .pswp__top-bar,
:global .pswp__button {
    display: none;
}
:global .pswp__img {
    cursor: auto !important;

    @include media-breakpoint-up(md) {
        transition: width 0.2s;
    }
}
:global .pswp {
    --pswp-root-z-index: 10;
}

.header {
    position: fixed;
    z-index: $zIndex + 1;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .author {
        display: flex;
        gap: 1rem;
        color: #fff;

        .avatar {
            font-size: 1.5rem;
        }
        @include media-breakpoint-down(md) {
            gap: 0.75rem;

            .avatar {
                font-size: 1.3rem;
                margin-top: 0.1rem;
            }
            .date {
                font-size: 0.9rem;
            }
        }
    }
    .title {
        @include media-breakpoint-down(md) {
            position: fixed;
            bottom: 1rem;
            left: 1rem;
            width: calc(100% - 2rem);
            text-align: center;
        }
    }
    .toolbar {
        display: flex;
        gap: 1rem;

        @include media-breakpoint-down(md) {
            gap: 0.75rem;
        }
    }
}
.action {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(204, 0%, 100%, 0.2);
    transition: background-color 0.2s, right 0.2s;
    position: relative;
    color: #fff;
    cursor: pointer;

    @include media-breakpoint-down(md) {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.75rem;
    }
    svg {
        width: 1.3rem;
        height: 1.3rem;

        @include media-breakpoint-down(md) {
            width: 1.1rem;
            height: 1.1rem;
        }
    }
    &.like {
        filter: grayscale(1);
        &.clicked {
            background-color: hsl(207, 70%, 47%);
            filter: none;
        }
        .tennisBall {
            width: 1.8rem;
            height: 1.8rem;
            background-image: url('./1f3be.png');
            background-size: 100% 100%;

            @include media-breakpoint-down(md) {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
    &.comments {
        svg {
            margin-bottom: -0.1rem;
            width: 2.2rem;
            height: 2.2rem;

            @include media-breakpoint-down(md) {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
        &.clicked {
            background-color: hsl(207, 70%, 47%);
        }
    }
    &.prev,
    &.next {
        position: fixed;
        z-index: $zIndex;
        top: calc(50% + 1rem);
        background-color: hsla(204, 0%, 50%, 0.3);

        &:hover {
            background-color: hsla(204, 0%, 40%, 0.3);
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &.prev {
        left: 2rem;
    }
    &.next {
        right: 2rem;

        &.withComments {
            right: $sidebarWidth + 3rem;
        }
    }
    &:hover {
        background-color: hsla(204, 0%, 100%, 0.3);
    }
    .badge {
        position: absolute;
        bottom: 75%;
        left: 75%;
        padding: 0.2rem 0.4rem;
        background-color: hsla(204, 0%, 90%);
        color: #000;
        border-radius: 0.5rem;
        line-height: 1;
        font-size: 0.8rem;
        font-weight: 500;
    }
}
.sidebar {
    position: fixed;
    z-index: $zIndex + 2;
    top: 5rem;
    right: 1rem;
    width: $sidebarWidth;
    height: calc(100% - 6rem);
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    transition: right 0.2s;
    justify-content: center;

    &.hidden {
        right: -$sidebarWidth;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
        height: calc(100% - 5rem);
        right: 0;
        transition: top 0.2s, opacity 0.2s;
        transition-timing-function: ease-out;
        opacity: 1;

        &.hidden {
            right: 0;
            top: 100%;
            opacity: 0;
        }
    }
}
