.freeEntry {
    width: 200px;
    float: right;
    margin: 0 2rem 3rem 2rem;

    svg {
        width: 100%;
    }

    @include media-breakpoint-down(md) {
        width: 140px;
        margin: 0 0 1rem 1rem;
    }
}
.trophyWrapper {
    display: flex;
    align-items: flex-start;

    .trophy {
        margin: 0 4rem 0 2rem;
        width: 120px;
        flex: 0 0 120px;
        background-image: url('@/assets/trophy.png');
        background-size: 100% 100%;

        aspect-ratio: 300 / 641;
    }
    @include media-breakpoint-down(md) {
        display: block;

        .trophy {
            width: 100px;
            margin: 0 2rem 1rem 0;
            float: left;
        }
    }
}
