.schedule {
    position: relative;
    margin-left: 3rem;
    user-select: none;

    &:after {
        content: '';
        display: block;
        height: 0.5rem;
    }
    .days {
        display: flex;
        margin-bottom: 0.25rem;

        .day {
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
            font-size: 0.8rem;
        }
    }
    .dividers {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .hourLabel {
        position: absolute;
        right: calc(100% + 0.75rem);
        line-height: 1;
        font-size: 0.8rem;
        margin-top: -0.4rem;
        text-wrap: nowrap;
    }
    .hours {
        position: relative;
        touch-action: none;

        .line {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: var(--rival-light-2);

            [data-bs-theme='dark'] & {
                background: var(--rival-dark-4);
            }
            &.highlight {
                height: 2px;
                margin-top: -0.5px;
            }
        }
        .divider {
            position: absolute;
            top: 0;
            height: 100%;
            width: 1px;
            background: var(--rival-light-15);

            [data-bs-theme='dark'] & {
                background: var(--rival-dark-3);
            }
        }
        .horizontalLine {
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border-top: 1px dashed hsl(206, 88%, 73%, 1);
            transition: top 0.1s;
            z-index: 10;
        }
        .block {
            --hue: 206;
            position: absolute;
            background: hsl(var(--hue), 88%, 95%);
            border: 1px solid hsl(var(--hue), 88%, 75%);
            border-radius: 0.5rem;
            color: #fff;
            font-size: 0.8rem;
            font-weight: 500;
            text-align: center;
            padding-top: 0.25rem;
            cursor: move;
            transition: top 0.1s, height 0.1s, left 0.1s;
            z-index: 1;
            touch-action: none;

            [data-bs-theme='dark'] & {
                background: hsl(var(--hue), 93%, 53%);
                border-color: hsl(var(--hue), 93%, 53%);
            }
            &.dragging {
                z-index: 2;
            }
            &.selected {
                --hue: 348;
                z-index: 2;
            }
            &.invisible {
                visibility: hidden;
            }
            .topAnchor,
            .bottomAnchor {
                position: absolute;
                left: 0;
                width: 100%;
                height: 1.3rem;
                cursor: ns-resize;
            }
            .topAnchor {
                top: -0.65rem;
            }
            .bottomAnchor {
                bottom: -0.65rem;
            }
            .deleteButton {
                width: 2rem;
                height: 2rem;
                padding: 0 !important;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -1px;
                left: calc(100% + 0.25rem);

                &.last {
                    right: calc(100% + 0.25rem);
                    left: auto;
                }
            }
        }
    }
}
