.wrapper {
    width: 40px;
    display: flex;
    align-items: center;

    .line {
        flex-grow: 1;
        height: 2px;
        background-color: #6db7d9;
    }
    .circle {
        width: 8px;
        height: 8px;
        border: 2px solid #6db7d9;
        border-radius: 50%;
        background-color: #6db7d9;
    }

    &.empty {
        .circle {
            background-color: transparent;
        }
    }
}
