.description {
    margin: -0.4rem 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #a1a5b7;

    [data-bs-theme='dark'] & {
        color: var(--rival-light-5);
    }
}
.checkboxDescription {
    margin: 1 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #a1a5b7;

    [data-bs-theme='dark'] & {
        color: var(--rival-light-5);
    }
}
.growWrapper {
    display: grid;

    textarea {
        resize: none;
        overflow: hidden;
    }
    .helper {
        white-space: pre-wrap;
        visibility: hidden;
    }
    textarea,
    .helper {
        grid-area: 1 / 1 / 2 / 2;
    }
}
// TODO: reuse this style across all similar components
.buttonOption {
    border: 1px dashed var(--bs-primary);
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-primary);
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    transition: all 0.15s ease-in-out;
    margin-left: -1px;
    background-color: #fff;

    [data-bs-theme='dark'] & {
        background-color: transparent;
    }
    @media (hover: hover) {
        &:hover {
            background-color: #f1faff;

            [data-bs-theme='dark'] & {
                &:not(.active) {
                    background-color: var(--rival-dark-25);
                }
            }
        }
    }
    &:first-child {
        border-top-left-radius: 0.475rem;
        border-bottom-left-radius: 0.475rem;
        margin-left: 0;
    }
    &:last-child {
        border-top-right-radius: 0.475rem;
        border-bottom-right-radius: 0.475rem;
    }
    &.active {
        color: #fff;
        background-color: var(--bs-primary);

        & + .buttonOption {
            border-left-style: solid;
        }
    }
}
