.wrapper {
    aspect-ratio: 1;
    width: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;

    .numbers {
        position: relative;
        z-index: 2;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
