$scale: 5.5;

.wrapper {
    display: flex;
    margin-bottom: 1rem;

    > *:first-child {
        margin-right: 1rem;
    }

    .preview {
        width: 40px * $scale;
        height: 44px * $scale;
        padding: 6px * $scale 3.45px * $scale 0;
        background-color: #f5f8fa;
        border-radius: 0.5rem * $scale;

        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-3);
        }
        svg {
            width: 100%;
            height: auto;
        }
    }
    .buttons {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        svg {
            opacity: 0.7;
        }
    }
}
.modalButtons {
    padding: 1.5rem 1.5rem 0;
    margin: 1.5rem -1.5rem 0;
    border-top: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
}
