.list {
    display: grid;
    grid-gap: 1rem;
    padding: 0 2rem;
    margin-bottom: 1rem;

    .type {
        min-height: 7rem;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #f1f4fa;
            border-radius: 0.5rem;
            cursor: pointer;
            transform: scale(1.05);

            [data-bs-theme='dark'] & {
                background-color: var(--rival-dark-3);
            }
        }
        svg {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 2rem;
        }
        @include media-breakpoint-down(sm) {
            padding: 0 1rem;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}
