$arrowSize: 2.2rem;
$iconWidth: calc(1.85rem + 2px);
$sidebarWidth: 25rem;

.emojiWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 1;
    border-radius: 1rem;
    border: 1px solid var(--rival-light-2);
    background-color: var(--rival-light-1);

    [data-bs-theme='dark'] & {
        border: 1px solid var(--rival-dark-4);
        background-color: var(--rival-dark-1);
    }
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .block {
        padding: 1rem;
        border-radius: 0.5rem;
        background: var(--rival-light-1);

        [data-bs-theme='dark'] & {
            background: var(--rival-dark-2);
            border: 1px solid var(--rival-dark-4);
        }
    }
    .comments {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        background: var(--rival-light-1);

        @include media-breakpoint-down(md) {
            border-radius: 0.5rem 0.5rem 0 0;

            .mobileHandle {
                display: block;
            }
        }
        [data-bs-theme='dark'] & {
            background: var(--rival-dark-2);
            border: 1px solid var(--rival-dark-4);
        }
        .authorSection {
            padding: 1rem;
            border-bottom: 1px solid var(--rival-light-2);
            position: relative;
            touch-action: none;

            [data-bs-theme='dark'] & {
                border-color: var(--rival-dark-4);
            }
            .mobileHandle {
                position: absolute;
                top: 0.75rem;
                left: 50%;
                margin-left: -1.5rem;
                width: 3rem;
                height: 0.25rem;
                border-radius: 0.5rem;
                background-color: var(--rival-light-3);
                display: none;
            }
            @include media-breakpoint-down(md) {
                padding-top: 1.5rem;

                .mobileHandle {
                    display: block;
                }
            }
        }
        .avatar {
            font-size: 1.5rem;
        }
        .reactions {
            padding: 1rem;
            border-bottom: 1px solid var(--rival-light-2);
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            position: relative;

            [data-bs-theme='dark'] & {
                border-color: var(--rival-dark-4);
            }
            .emojiWrapper {
                top: calc(100% + 1rem);
            }
            .smile {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                background-color: hsl(208, 63%, 95%);
                color: hsl(208, 63%, 40%);
                height: 2rem;
                padding: 0 0.6rem;
                transition: background 0.2s, color 0.2s;

                [data-bs-theme='dark'] & {
                    background-color: var(--rival-dark-3);
                    color: var(--rival-light-4);
                }
                &.clickable {
                    cursor: pointer;
                }
                &.clicked {
                    background-color: hsl(207, 70%, 47%);
                    color: #fff;
                }
                .tennisBall {
                    width: 1.3rem;
                    height: 1.3rem;
                    background-image: url('../1f3be.png');
                    background-size: 100% 100%;
                }
                .emoji {
                    font-family: $font-family-emoji;
                    transform: scale(var(--custom-emoji-scale));
                    margin: 0 var(--custom-emoji-margin) -0.15rem;
                }
            }
            .heightHolder {
                height: 2rem;
            }
            .addEmoji {
                display: flex;
                align-items: center;
                color: var(--bs-text-muted);
                cursor: pointer;

                &:hover {
                    color: var(--bs-text-primary);
                }
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    position: relative;
                    top: -5%;
                }
            }
        }
        .date {
            color: var(--rival-light-5);
            font-size: 0.9rem;
        }
        .list {
            flex-grow: 1;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            overflow: auto;
            overscroll-behavior: contain;
        }
        .form {
            border-top: 1px solid var(--rival-light-2);
            padding: 1rem;
            position: relative;

            [data-bs-theme='dark'] & {
                border-color: var(--rival-dark-4);
            }
            .emojiWrapper {
                bottom: calc(100% + 1rem);
            }
            .smileIcon {
                flex: 0 0 $iconWidth;
                color: var(--bs-text-muted);
                margin-bottom: 0.4rem;
                cursor: pointer;

                &.active {
                    color: var(--bs-text-primary);
                }
                svg {
                    width: $iconWidth;
                    height: $iconWidth;
                }
            }
            .sendIcon {
                border: 0;
                padding: 0;
                background: none;
                color: var(--bs-text-muted);
                margin-bottom: 0.4rem;
                cursor: pointer;

                &.active {
                    color: var(--bs-text-primary);
                }
                svg {
                    width: $iconWidth;
                    height: $iconWidth;
                }
            }
        }
    }
}
