$maxWidth: 340px;

.wrapper {
    position: fixed;
    right: 10px;
    top: 10px;
    min-width: 250px;
    max-width: $maxWidth;
    margin-left: 10px;
    z-index: 1200;
}
.alert {
    margin: 0 0 10px;
    position: relative;
    right: calc(-100% - 20px);
    transition: all 0.5s ease;

    &.loaded {
        right: 0;
    }
}

@include media-breakpoint-down(sm) {
    .wrapper {
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
