.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 1rem;
    align-items: stretch;

    .image {
        background-color: #f5f8fa;
        border-radius: 1rem;
        padding: 10% 5% 0;
        transition: background 0.1s ease;

        &.selected {
            box-shadow: 0px 0px 0px 5px var(--bs-primary);
        }
        &:hover {
            cursor: pointer;
            background-color: darken(#f5f8fa, 5%);
        }
        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-3);

            &:hover {
                background-color: var(--rival-dark-35);
            }
        }
    }
}
.colorWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;

    .color:not(:last-child) {
        margin-right: 0.5rem;
    }
    .color {
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        border: 1px solid transparent;
        cursor: pointer;
        margin-bottom: 0.5rem;

        [data-bs-theme='dark'] & {
            border-color: var(--rival-dark-4);
        }
        &.selected {
            box-shadow: 0px 0px 0px 5px var(--bs-primary);
            border-color: #fff;

            [data-bs-theme='dark'] & {
                border-color: var(--rival-dark-2);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}
