.wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.1rem;

    @include media-breakpoint-down(sm) {
        font-size: 0.9rem;
    }
    .graph {
        width: 100%;
        max-width: 600px;

        .top,
        .bottom {
            position: relative;
            height: 3rem;

            .level {
                position: absolute;
                height: 100%;
                line-height: 3rem;
                top: 0;
                width: 32%;
                text-align: center;

                &:before {
                    content: '';
                    position: absolute;
                    left: -1px;
                    width: calc(100% + 2px);
                    height: 0.6rem;
                    border: 2px solid #ccc;

                    [data-bs-theme='dark'] & {
                        border-color: var(--rival-dark-5);
                    }
                }
            }
        }
        .top {
            .level:before {
                bottom: -0.1rem;
                border-width: 2px 2px 0 2px;
                border-radius: 0.5rem 0.5rem 0 0;
            }
        }
        .bottom {
            .level:before {
                top: -0.1rem;
                border-width: 0 2px 2px 2px;
                border-radius: 0 0 0.5rem 0.5rem;
            }
        }

        .elo {
            margin: 0.5rem 0;
            height: 3rem;
            position: relative;
            border-radius: 0.5rem;
            background: linear-gradient(90deg, hsl(50, 100%, 80%) 0%, hsl(150, 100%, 80%) 100%);

            [data-bs-theme='dark'] & {
                background: linear-gradient(90deg, hsl(50, 100%, 20%) 0%, hsl(150, 100%, 20%) 100%);
            }
            .mark {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100px;
                margin-left: -50px;
                text-align: center;
                line-height: 3rem;
                z-index: 1;
                font-weight: 600;
                color: #333;

                [data-bs-theme='dark'] & {
                    color: #fff;
                }
            }
            .stick {
                position: absolute;
                top: 0;
                height: 100%;
                width: 2px;
                background-color: #fff;
                margin-left: -1px;

                [data-bs-theme='dark'] & {
                    background-color: var(--rival-dark-2);
                }
            }
        }
    }
}
