$width: map-get($grid-breakpoints, 'lg');
$appWidth: map-get($grid-breakpoints, 'xl');

$scale: 0.8;

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: $appWidth;
}
.pullDownArea {
    position: relative;

    &:before {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 150px;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.topBgWrapper {
    position: relative;

    .topBg {
        position: absolute;
        top: 0;
        left: 0;
        height: 25rem;
        width: 100%;
        background-color: hsl(130, 10%, 20%);
        z-index: -1;

        [data-bs-theme='dark'] & {
            display: none;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: 55% top;
            background-size: 1630px 594px;

            @media screen and (min-width: 1400px) {
                background-size: cover;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 12rem;
                width: 100%;
                z-index: 1;
                background-image: scrimGradient(#000);
            }
        }
        .shapeDivider {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);

            svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 125px;
            }
            .shape {
                fill: var(--bs-page-bg);
            }
        }
    }
}
.logo {
    height: 2.8rem;
    background-image: url('../../assets/logo.svg');
    background-size: 100% 100%;
    margin-right: 1.2rem;
    aspect-ratio: 1 / 1;

    @include media-breakpoint-down(sm) {
        height: 2.3rem;
        margin-right: 1rem;
        margin-left: 5px;
    }
}
.title {
    background-image: url('../../assets/rivaltennisladder.svg');
    background-size: 100% 100%;
    height: 1.3rem;
    margin-left: 0.04em;
    aspect-ratio: 196.61 / 19.38;
    color: transparent;

    @include media-breakpoint-down(sm) {
        height: 1.1rem;
    }
}
.city {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: -0.1rem;
    color: #fff;
    opacity: 0.8;
    line-height: 1;

    @include media-breakpoint-down(sm) {
        margin-top: 0.4rem;
        font-size: 0.8rem;
    }
    .demo {
        margin: -1rem 0 -1rem 0.5rem;
        padding: 0.2rem 0.4rem;
    }
}
.footer {
    margin-top: 8rem;
    background: var(--rival-footer-color-1);
    background: linear-gradient(180deg, var(--rival-footer-color-1) 0%, var(--rival-footer-color-2) 100%);
    color: #fff;
    position: relative;

    [data-bs-theme='dark'] & {
        color: var(--rival-light-3);
    }
    a {
        color: #fff;
        border-bottom: 1px dotted #fff;
        padding: 0;

        [data-bs-theme='dark'] & {
            color: var(--rival-light-3);
            border-bottom: 1px dotted var(--rival-light-3);
        }
        &:hover {
            color: #ccc;

            [data-bs-theme='dark'] & {
                color: var(--rival-light-4);
            }
        }
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 19rem;
        position: relative;

        @include media-breakpoint-down(md) {
            height: 8rem;
        }
    }
    .otherCities {
        margin-top: 0.5rem;
        max-width: 12rem;
    }
    .utl {
        svg {
            margin-top: 0.25rem;
            margin-left: -0.2rem;
            width: 3rem;
            height: 3rem;

            @include media-breakpoint-down(md) {
                margin-top: 0;
                margin-left: 0;
                margin-right: 1rem;
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
    .icons {
        margin-top: 0.25rem;
        margin-bottom: 0.75rem;

        > a {
            width: 2.79rem;
            height: 2.79rem;
            background-size: 100% 100%;
            border: 2px solid rgba(255, 255, 255, 0.6);
            border-radius: 100%;
            transition: all 0.2s;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &:not(:last-child) {
                margin-right: 1rem;
            }
            svg {
                fill: rgba(255, 255, 255, 0.6);
                width: 1.34rem;
                height: 1.34rem;
                transition: all 0.2s;
            }
            &:hover {
                transform: scale(1.1);
                border-color: #fff;

                svg {
                    fill: #fff;
                }
            }
        }
    }
    .dividerWrapper {
        position: absolute;
        left: 0;
        top: -150px;
        height: 150px;
        width: 100%;
        overflow: hidden;

        .divider {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 200px;
            transform: scale(1, -0.5);

            .shape {
                fill: var(--rival-footer-color-1);
            }
            @media (max-width: 2000px) {
                left: 50%;
                width: 2000px;
                margin-left: -1000px;
            }
        }
    }
    .blocks {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 6rem;
        padding-bottom: 1.5rem;

        @include media-breakpoint-down(lg) {
            grid-gap: 4rem;
        }
        @include media-breakpoint-down(md) {
            grid-template-columns: auto auto;
            grid-gap: 1rem;
            padding-bottom: 2rem;
            align-items: center;
            line-height: 1.3;

            .cities,
            .links {
                display: none;
            }
        }
    }
    .feedbackButton {
        position: absolute;
        right: 30px;
        bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: all 0.1s ease;

        &:hover {
            padding-bottom: 0.6rem !important;
        }
        @include media-breakpoint-down(md) {
            right: 15px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .topBgWrapper {
        .topBg {
            left: 50%;
            width: $width;
            margin-left: math.div(-$width, 2);
        }
    }
}
