.wrapper {
    max-width: 34rem;

    .matchWrapper {
        border-radius: 5px;
        overflow: hidden;
    }
    .match {
        width: 100%;
        color: #666;
        background-color: var(--rival-block-bg-color-2);

        [data-bs-theme='dark'] & {
            color: var(--rival-block-color);
        }
        > div {
            padding: 0.5rem;
        }
        .teams {
            background-color: var(--rival-block-bg-color-1);
            display: flex;
            justify-content: space-between;

            .team {
                display: flex;
                align-items: center;

                &:first-child {
                    margin-bottom: 0.5rem;
                }
                > *:first-child {
                    margin-right: 0.5rem;
                }
            }
        }
        .status {
            background-color: darken(#f5f8fa, 3%);
        }
    }
}
.badge {
    position: relative;
    font-size: 0.7rem;
    top: -0.4rem;
    margin-left: 0.2rem;
    font-weight: normal;
}
