$marginBetweenMatches: 2rem;
$matchHeight: 5.46rem;
$matchWidth: 21rem;

.avatar {
    &.bye {
        visibility: hidden;
    }
}
.description {
    margin: -0.4rem 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #a1a5b7;

    [data-bs-theme='dark'] & {
        color: var(--rival-light-5);
    }
}
.total {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #a1a5b7;

    [data-bs-theme='dark'] & {
        color: var(--rival-light-5);
    }
}
.bet {
    height: 16rem;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;

    [data-bs-theme='dark'] & {
        background-color: var(--rival-dark-2);
        border-color: var(--rival-dark-4);
    }
    .headerWrapper {
        position: absolute;
        left: 0;
        top: 1rem;
        z-index: 2;
        display: flex;
        gap: 22px;
        transition: left 0.5s;

        .header {
            white-space: nowrap;
            text-align: center;
            background-color: var(--rival-block-bg-color-2);
            border-radius: 0.5rem;
            padding: 0.5rem 0;
            width: $matchWidth;

            [data-bs-theme='dark'] & {
                color: var(--rival-block-color) !important;
            }
        }
    }
    .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4.5rem;
        z-index: 1;
        background-color: #fff;

        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-2);
        }
    }
    .wrapper {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        background-color: #fff;
        transition: top 0.5s, left 0.5s;

        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-2);
        }
        > * {
            flex-grow: 1;
            flex-basis: 0;
            white-space: nowrap;
        }
        .divider {
            flex: 0 0 22px;
            position: relative;
        }
        .margin7 {
            margin-top: math.div($matchHeight, 2) + $marginBetweenMatches * 0.5;
        }
        .margin6 {
            margin-top: $matchHeight + $marginBetweenMatches * 2;
        }
        .margin5 {
            margin-top: $matchHeight + $marginBetweenMatches * 2;
        }
        .margin4 {
            margin-top: $matchHeight + $marginBetweenMatches * 2;
        }
        .margin3 {
            margin-top: 1.5 * $matchHeight + $marginBetweenMatches * 2.5;
        }
        .margin2 {
            margin-top: 3 * $matchHeight + $marginBetweenMatches * 4;
        }
        .margin1 {
            margin-top: 3.5 * $matchHeight + $marginBetweenMatches * 4.5;
        }
        &.three {
            .margin3 {
                margin-top: math.div($matchHeight, 2) + math.div($marginBetweenMatches, 2);
            }
            .margin2 {
                margin-top: $matchHeight + $marginBetweenMatches * 2;
            }
            .margin1 {
                margin-top: 1.5 * $matchHeight + $marginBetweenMatches * 1.5;
            }
        }
    }
    .matches {
        > *:not(:last-child) {
            margin-bottom: $marginBetweenMatches;
        }
    }
    .bracket {
        position: absolute;
        width: 6px;
        border: 2px solid #eee;
        border-left-width: 0;
        left: 6px;
        border-radius: 0 3px 3px 0;

        .tick {
            position: absolute;
            top: 50%;
            left: 6px;
            width: 4px;
            height: 2px;
            background-color: #eee;
        }

        [data-bs-theme='dark'] & {
            border-color: var(--rival-dark-3);

            .tick {
                background-color: var(--rival-dark-3);
            }
        }
    }
}
.match {
    color: #666;
    width: $matchWidth;
    opacity: 0.2;
    transition: opacity 0.5s;
    border-radius: 5px;
    overflow: hidden;

    &.active {
        opacity: 1;
    }
    [data-bs-theme='dark'] & {
        color: var(--rival-block-color);
    }
    td {
        padding: 0.4rem 0;

        &:first-child {
            padding-left: 0.4rem;
        }
        &:last-child {
            padding-right: 0.4rem;
        }
    }
    tr:nth-child(1) {
        background-color: var(--rival-block-bg-color-2);
    }
    tr:nth-child(2) {
        background-color: var(--rival-block-bg-color-1);
    }
    .player {
        width: 100%;
        line-height: 1.2;
        padding-left: 0.5rem;
        padding-right: 1rem;
        position: relative;

        &.win {
            color: #181c32;
            font-weight: bold;

            [data-bs-theme='dark'] & {
                color: var(--rival-light-2);
                font-weight: 600;
            }
        }
        .flag {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
