.top {
    padding-left: 8rem;
    height: 600px;

    img {
        position: absolute;
        object-fit: cover;
        object-position: center 60%;
        background-color: #362e2d;
        width: 100%;
        height: 600px;
        left: 0;
        z-index: -1;
    }
    h1 {
        padding-top: 4rem;
        font-size: 4rem;
        text-shadow: 0 0 10px #000;
    }
}
.content {
    margin: 4rem 0;
}

@include media-breakpoint-down(md) {
    .top {
        padding-left: 1rem;
        height: 300px;

        img {
            height: 300px;
        }
    }
    .content {
        margin: 3rem 0;
    }
}
