.wrapper {
    aspect-ratio: 2048 / 1152;
    position: relative;
    display: flex;
    align-items: center;
    isolation: isolate;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('./brokenBall.jpg');
        background-size: 100% 100%;
        border-radius: 1rem;
        z-index: 1;

        [data-bs-theme='dark'] & {
            filter: brightness(0.9);
        }
    }
    .content {
        position: relative;
        margin-left: 60%;
        margin-bottom: 5%;
        z-index: 2;

        h1 {
            font-size: 4rem;
            font-weight: 700;
            margin: 0;
        }
        p {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
        @include media-breakpoint-down(lg) {
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        @include media-breakpoint-down(md) {
            h1 {
                font-size: 1.6rem;
            }
            p {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
