.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > * {
        flex-grow: 1;
    }
}
.badges {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    .badge {
        text-align: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 1rem;
        width: 8rem;

        &.completed {
            background-color: #fff;
            border-color: #fff;

            &.isLight {
                background-color: hsl(228, 42%, 95%);
                border-color: hsl(228, 42%, 92%);
            }

            [data-bs-theme='dark'] & {
                background-color: var(--rival-dark-4);
                border-color: var(--rival-dark-4);

                &.isLight {
                    background-color: var(--rival-dark-3);
                    border-color: var(--rival-dark-3);
                }
            }
        }
        .title {
            font-weight: 500;
            max-width: 80%;
            line-height: 1.3;
            margin-bottom: 0.5rem;
            overflow-wrap: normal;

            [data-bs-theme='dark'] & {
                color: var(--rival-light-2);
            }
        }
        svg {
            margin: -0.3rem -1rem 0;
            width: 100%;
        }
        &.series,
        &.level {
            .title {
                margin-top: 1rem;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5rem;
        justify-content: center;

        .badge {
            width: auto;
            max-width: 8rem;

            .title {
                font-size: 0.9rem;
            }
        }
    }
}
.modalWidth {
    max-width: 920px;
}
.modal {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    > * {
        flex-grow: 1;

        &.medium {
            flex-basis: 45%;
        }
        &.small {
            flex-basis: 20%;
        }
        &.fit {
            flex-grow: 0;
            flex-shrink: 0;
        }

        @include media-breakpoint-down(sm) {
            &.medium {
                flex-basis: 90%;
            }
            &.small {
                flex-basis: 45%;
            }
            &.fit {
                flex-grow: 1;
            }
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;

        > div {
            width: 7rem;
        }
        @include media-breakpoint-down(sm) {
            display: grid;
            grid-gap: 0.5rem;
            grid-template-columns: 1fr 1fr 1fr;

            > div {
                width: auto;
            }
        }
    }
    .modalBadge {
        .date {
            font-size: 0.9rem;
            text-align: center;
            color: #888;
            font-weight: 500;
        }
        svg {
            width: 114%;
            max-width: 8rem;
            margin: -0.5rem;
        }
    }
}
.completedCheck {
    margin-top: 0.1rem;
    width: 1.4rem;
    height: 1.4rem;
}
.latestRivalries {
    display: grid;
    grid-gap: 0.2rem 1rem;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}
.rivalryCandidates {
    display: grid;
    grid-gap: 0.2rem 1rem;
    grid-template-columns: auto auto;
    align-items: center;
}
.revengeCandidates {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.2rem 1rem;
    align-items: center;
}
.inlineMatches {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0.2rem 1rem;
    align-items: center;

    &.extraColumn {
        grid-template-columns: auto auto auto auto auto auto;
    }
    @include media-breakpoint-down(lg) {
        grid-template-columns: auto !important;
        grid-gap: 2rem;
        width: 22rem;
        max-width: 100%;
        background-color: #fff;
        padding: 1em;
        border-radius: 0.5rem;
        border: none;

        [data-bs-theme='dark'] & {
            background-color: var(--rival-dark-2);
        }
    }
}
.dedicatedWeeks {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.2rem 1rem;
}
.seasons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.2rem 1rem;
}
.proposalsAccepted {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.2rem 1rem;
    align-items: center;
}
.chartWrapper {
    width: 100%;
    height: 250px;

    @include media-breakpoint-down(sm) {
        height: 150px;
    }
}
.tlrLevels {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.2rem 1rem;
    align-items: center;
}
