.wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    .vs {
        font-size: 20px;
        font-weight: 600;
        color: #999;
    }
    svg {
        width: 122px;
        height: 140px;
    }
}
