.wrapper {
    display: grid;
    grid-gap: 6rem;

    .header {
        display: flex;
        align-items: flex-start;

        .dateWrapper {
            order: -1;
            width: 8rem;
            flex: 0 0 8rem;
            margin-right: 1rem;
            position: relative;

            .date {
                width: 100%;
                display: block;
                text-align: center;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin-top: 0.2rem;
            }
            .new {
                position: absolute;
                width: 3.2rem;
                padding: 0.5rem 0;
                margin: 0;
                right: 0;
                top: 3.3rem;
                display: block;
                text-align: center;
            }
        }
    }
    .content {
        margin-top: 1rem;
        margin-left: 9rem;
    }
    @include media-breakpoint-down(md) {
        .header {
            display: block;

            .dateWrapper {
                margin-top: 1rem;
                margin-bottom: 1rem;

                .date {
                    margin-top: 0;
                }
                .new {
                    left: 9rem;
                    top: 0;
                }
            }
        }
        .content {
            margin-left: 0;
        }
    }
}
.subscribeForProposals {
    width: 100%;
    max-width: 500px;
    background-size: 100% 100%;
    aspect-ratio: 1000 / 1795;
    background-image: url('./images/subscribeForProposals.png');
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ageCompatibleProposal {
    width: 100%;
    max-width: 500px;
    background-size: 100% 100%;
    aspect-ratio: 1000 / 750;
    background-image: url('./images/ageCompatibleProposal.png');
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    margin-top: 2rem;
}
