.tippy-box[data-theme~='light'] {
    color: #26323d;
    box-shadow: $dropdown-box-shadow;
    background: #fff;

    [data-bs-theme='dark'] & {
        color: var(--rival-light-2);
        background: var(--rival-dark-3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
}
.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow:before {
    border-top-color: #fff;
}
.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow:before {
    border-bottom-color: #fff;

    [data-bs-theme='dark'] & {
        border-bottom-color: var(--rival-dark-3);
    }
}
.tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow:before {
    border-left-color: #fff;
}
.tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow:before {
    border-right-color: #fff;
}
.tippy-box[data-theme~='light'] > .tippy-backdrop {
    background-color: #fff;
}
.tippy-box[data-theme~='light'] > .tippy-svg-arrow {
    fill: #fff;
}
