.buttons {
    display: flex;
    border: 1px solid var(--bs-primary);
    border-radius: 0.475rem;
    overflow: hidden;

    .button {
        flex-grow: 1;
        background: #fff;
        border-left: 1px solid var(--bs-primary);
        border-right: 1px solid var(--bs-primary);
        padding: 0.5rem;
        margin-left: -1px;
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        color: var(--bs-primary);
        transition: all 0.15s ease-in-out;

        [data-bs-theme='dark'] & {
            background: transparent;
        }
        &:first-child {
            border-left-width: 0;
            margin-left: 0;
        }
        &:last-child {
            border-right-width: 0;
        }
        &.active {
            color: #fff;
            background: var(--bs-primary);
            border-left-color: #fff;
            border-right-color: #fff;

            [data-bs-theme='dark'] & {
                border-left-color: var(--rival-dark-1);
                border-right-color: var(--rival-dark-1);
            }
        }
    }
}
