:root {
    --rival-border: #ccc;
    --rival-sunrise: rgba(0, 0, 0, 0.03);
}

[data-bs-theme='dark'] {
    --rival-border: var(--rival-dark-4);
    --rival-sunrise: rgba(0, 0, 0, 0.5);
}

.hover {
    display: flex;
    height: 200px;
    position: relative;

    .trigger {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .line {
            position: absolute;
            top: 0;
            height: 100%;
            width: 2px;
            margin-left: -1px;
            background-color: #666;
        }
    }
    .day {
        flex-grow: 1;
        flex-basis: 0px;
        position: relative;

        &:not(:last-child) {
            border-right: 1px solid var(--rival-border);
        }
        .sunrise {
            position: absolute;
            left: 0;
            height: 100%;
            background: var(--rival-sunrise);
        }
        .sunset {
            position: absolute;
            right: 0;
            height: 100%;
            background: var(--rival-sunrise);
        }
    }
}
.conditions {
    min-width: 11.5rem;
    position: relative;
    padding: 0.5rem 0.2rem 0.2rem;

    .time {
        position: absolute;
        top: -1.9rem;
        left: 0.2rem;
        width: 4rem;
        background: #555;
        color: #fff;
        font-weight: 500;
        padding: 0.3rem 0;
        border-radius: 0.5rem;
        text-align: center;

        [data-bs-theme='dark'] & {
            background: var(--rival-dark-4);
        }
    }
    .icon {
        display: flex;
        justify-content: center;
        margin-top: -0.5rem;
        margin-left: -0.5rem;

        svg {
            width: 5rem;
            height: 5rem;
        }
    }
    .temp {
        margin-top: 0.1rem;
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 0.5rem;
        line-height: 1;
    }

    @include media-breakpoint-down(sm) {
        font-size: 0.9rem;
        min-width: 10.5rem;

        .icon {
            svg {
                width: 4rem;
                height: 4rem;
            }
        }
        .temp {
            font-size: 2rem;
        }
    }
}
