.wrapper {
    display: grid;
    gap: 3rem;

    .item {
        display: flex;
        gap: 1.5rem;

        > *:first-child {
            flex: 0 0 4.5rem;
            font-size: 2.5rem;
            font-weight: bold;
            text-align: right;
            line-height: 1;
        }
    }
}
